.product-card {
  width: 260px;
  background: #0a1a3a;
  color: #fff;
  border-radius: 16px;
  padding: 18px;
  text-decoration: none;
  transition: 0.3s ease;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card:hover {
  transform: translateY(-6px);
  background: #112a55;
}

.product-img-box {
  width: 100%;
  height: 180px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: #0f2348;
}

.product-img {
  width: 90%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s ease;
}

.product-card:hover .product-img {
  transform: scale(1.05);
}

.product-title {
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0 6px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  color: #4dd8ff;
  margin-bottom: 12px;
}

.product-btn {
  background: #3bc9ff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  color: #0a1a3a;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.product-btn:hover {
  background: #72e2ff;
}
